h1 {
    color:blue;
    font-family:Georgia, serif;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.introduction {
    font-family: Arial, sans-serif;
    font-size: 16px;

}

h2{
    font-family: "Times New Roman",serif ;
    font-size: 26px;
}

h3{
    font-family:Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;

}

ul {
    font-family:Arial, sans-serif;
    font-size: 16px;
}

.api{
    color: rgb(98, 62, 229);
    font-family:Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;

    
   
}
.endpoints-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px; /* space between endpoints */
  
}

.endpoints-grid section {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
}

.response {
   font-family:Arial, sans-serif;
   color: rgb(54, 131, 198); 
   font-weight: bold;
   font-size: 16px;
}

.endpoints-grid p{
    font-family:Arial, sans-serif;
    font-size: 16px;
 }
